websocket-client==1.8.0
pyspark==4.0.0
finnhub-python==2.4.23
python-dotenv==1.1.0
redis==6.2.0
sqlalchemy==2.0.41
numpy==2.3.0
statsmodels==0.14.4
pmdarima==2.0.4
dotenv==0.9.9
psycopg2-binary==2.9.10
matplotlib==3.10.3
plotly==6.1.2
streamlit==1.45.1